*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body{
    background-color: #0d0d0d;
    color: #ffffff;
    height: 200vh;
}

.header{
    /* width: 100%; */
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #0d0d0d;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 10px 100px; */
    padding: 2vh 8vw;
}

.logo{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.links{
    display: flex;

    /* gap: 26px; */
    gap: 2vw;
}

.links li:hover{
    color: #ffffff8f;
    cursor: pointer;
}

.buttons{
    display: flex;

    /* gap: 20px; */
    gap: 1.5vw;
}

.signin{
    background: transparent;
    color: #ffffff;
    border-radius: 99px;

    /* padding: 2px 8px 2px 8px; */
    padding: 0.4vh 0.8vw;

    cursor: pointer;
}

.signin:hover{
    border-color: #555;
    background-color: #0d0d0d47;
}

.Download{
    border-radius: 99px;

    /* padding: 2px 9px 2px 9px; */
    padding: 0.4vh 1vw;
}

.Download:hover{
    background-color: #ffffffb6;
    cursor: pointer;
}

.hero {
    /* padding: 120px 100px 60px 100px; */
    padding: 12vh 8vw 6vh 8vw;
}

.hero h2{
    /* max-width: 550px; */
    max-width: 35vw;

    /* margin-bottom: 20px; */
    margin-bottom: 2vh;

    font-size: 24px;
}

.hero button{
    /* padding: 10px 20px 10px 20px; */
    padding: 1.2vh 1.5vw;

    border-radius: 20px;
    font-weight:500;
}

.hero button:hover{
    background-color: #ffffffb6;
    cursor: pointer;
}

.img1{
   /* margin-top: 40px; */
   margin-top: 4vh;
}

.img1 img{
  border-radius: 10px;

  /* no width earlier */
  width: 100%;
}

.para{
    display: flex;
    justify-content: center;

    /* margin-bottom: 20px; */
    margin-bottom: 2vh;

    /* width: 80vw auto; */
    width: 80vw;
}

.hero2 {
    display: flex;
    justify-content: space-around;

    /* margin: 0px 100px 0px 100px; */
    margin: 0 8vw;
}

.hero2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    /* padding: 10px 10px 10px 10px; */
    padding: 1vh 1vw;

    /* height: 100px; */
    height: 12vh;

    /* width: 155px; */
    width: 10vw;

    cursor: pointer;
    background-color: #1d1c1c8e;
}

.hero2 .box1{ font-size: 34px; }
.hero2 .box2{ font-size: 24px; font-weight: 500; }
.hero2 .box3{ font-size: 24px; }
.hero2 .box4{ font-size: 20px; }
.hero2 .box5{ font-size: 24px; font-weight: 600; }
.hero2 .box6{ font-size: 24px; }
.hero2 .box7{ font-size: 24px; }
.hero2 .box8{ font-size: 24px; font-weight: 600; }

.grid1{
    background-color: #282424;
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    /* margin: 100px 100px 100px 100px; */
    margin: 10vh 8vw;

    border-radius: 5px;
}

.grid-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* margin-left: 30px; */
    margin-left: 2vw;

    /* max-width: 480px; */
    max-width: 30vw;
}

.grid-text h3 {
  font-size: 26px;

  /* margin-bottom: 10px; */
  margin-bottom: 1vh;
}

.agent-link {
  font-size: 22px;
}

.grid-img{
    /* padding: 10px 10px 10px 10px; */
    padding: 1vh 1vw;

    /* margin-left: 100px; */
    margin-left: 5vw;
}

.grid-img img{
    /* width: 800px; */
    width: 45vw;

    max-width: 800px;
    border-radius: 10px;
}

.grid-img-2 img{
    /* width: 800px; */
    width: 45vw;

    max-width: 800px;
    border-radius: 10px;

    /* margin-left: 10px; */
    margin-left: 1vw;

    /* margin-top: 10px; */
    margin-top: 1vh;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* margin-right: 100px; */
    /* margin-left: 100px; */
    margin: 0 8vw;

    /* gap: 10px; */
    gap: 1vw;
}

.grid2 div{
    border-radius: 8px;
    background-color: #36313165;

    /* height: 300px; */
    height: 35vh;
}

.box-text{
    text-align: center;

    /* margin-bottom: 40px; */
    margin-bottom: 4vh;
}

.card1 p{
    /* max-width: 370px; */
    max-width: 25vw;

    /* margin: 10px 10px 10px 10px; */
    margin: 1vh 1vw;

    /* padding: 10px 10px 10px 10px; */
    padding: 1vh 1vw;
}
